
/* General website design code */
body {
    background-color:black;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    font-size: 13px;
    color: #92ea3fe7
}



/* links within "nav" container and
indicator of current page  using "active"*/
.active {         
    color:#eac23fe7
}

nav a {         
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.4em;
    text-decoration: none; /* removes underline */
    color: white;       /*links = blue by default*/
}

/*pseudo class*/
nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s; /* transition effect */
}

/* "About" page table style */
table {
    margin: 0px auto;
}
