/* General website design code */
body {
    background-color:black;
    color:white;
    text-align: center;
    background-image: url(https://wallpapers.com/images/featured/riddler-ka4nxhtpdhh6xdqd.jpg);
}

header, main, footer {
    text-align: center;
}

h1 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}


/*Google Fonts*/

body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}


