/* General website design code */
body {
    background-color:black;
    color:white;
    text-align: center;
    background-image: url(https://static0.cbrimages.com/wordpress/wp-content/uploads/2023/09/dc-the-riddler.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

header {
  text-align: center;
}

h1 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

h2 {
  border: 2px solid #2ee00e;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
}

#main {
  border: 2px solid #2ee00e;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 40px #2ee00e;
  margin: 20px;
}

h1, h2, #main {
  text-shadow: 0 0 8px #2ee00e;
}

button {
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.12);
}


#gif {
  border: 2px solid #2ee00e;
  border-radius: 10px;
}
/*Google Fonts*/

h2 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;

}

button {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #0f0f0f;
  color: #e5e5e5;
  border: 2px solid #2ee00e;
  padding: .5rem 1rem;
  border-radius: 10px;
}