
/* General website design code */
body {
    background-color:black;
    color:white;
    background-image: url(https://images5.alphacoders.com/316/316617.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body, footer, h1 {
    text-align: center;
}

form {
    text-align: left;
}

footer {
    font-size: 10px;
    color: #f6ea0c
}

h1 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#main {
  border: 8px solid #06a6ea;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 40px #06a6ea;
  margin: 40px auto;
  max-width: 900px;
}

/*Google Fonts*/

body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}


p {
    line-height: normal;
    margin-bottom: 1.1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.15rem;
}

#searchError {
    font-size: 1.3rem;
}

#searchForm input,
#searchForm select {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #fff3f3;
    background-color: #7b74fe;
    color: #f5f5f5;
}

#subButton {
    cursor: pointer;
    font-size: 2rem;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#subButton {
    display: block;
    margin: 20px auto;
}

#subButton:hover {
    background-color: #c919f9;
    transform: scale(1.15);
    transition: 0.7s;
}


img {
    border-radius: 10px;
}

#searchForm input,
#searchForm select {
    padding: 10px;
}

input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
}

#searchForm input:hover {
    filter: brightness(1.2);
    transition: 0.4s;
}

#searchForm input,
#searchForm select {
    font-size: 1.05rem;
    font-weight: 540;
}

#results {
    font-size: 1.3rem;
}