
/* General website design code */
body {
    background-color:black;
    color:white;
    background-image: url(https://assets.warhammer-community.com/runbgvi6w4ow2v8m-1729174148.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body, footer, form, h1 {
    text-align: center;
}

footer {
    font-size: 11px;
    color: #92ea3fe7
}

h1 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#main {
  border: 2px solid #e2ee35;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 40px #f0c108;
  margin: 20px;
}

/*Google Fonts*/

body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

/* /* NEW STYLES / */

p {
    line-height: normal;
    margin-bottom: 1.1em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
